h1{
    font-size: 50px;
    color : orangered;   
    text-decoration: underline solid red;
    border : 5px solid orangered;
    text-shadow:  3px 3px 1px black;
    background-color: beige;
    
}

h2,h3{
    font-size: 40px;
    text-decoration: underline solid black;
}

body{
    background-color: skyblue;
    
}
#block1{
    width : 80%;
    margin : 0 auto;
    background-color: white;
    text-align: center;
    align-content: center;
    
     
}

#block2{
    width :80%;
    margin : 0 auto;
    background-color: beige;
    text-align: center;
    
    
}

p,li {
    list-style-type: none;
    font-size: 15px;
    
}
img{
    border : 7px solid skyblue ;
}

html{
    font-family:cursive
}

h4{
   color : dimgray;
   font-size: 30px;
   text-decoration: underline solid dimgray ; 
